/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.home {
  background: url(../images/intro-cover.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; }
  .home nav {
    position: absolute;
    width: 100%; }
  .home ul {
    display: flex;
    justify-content: flex-end; }
  .home li {
    list-style-type: none;
    text-transform: uppercase;
    margin: 1.5em; }
  .home a {
    text-decoration: none;
    color: white; }
    .home a::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: white;
      margin-top: 0.3em;
      transition: width 300ms; }
    .home a:hover::after {
      width: 100%; }

.home-bkg {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center; }
  .home-bkg h3, .home-bkg h1 {
    font-family: 'Alfa Slab One', sans-serif;
    text-transform: uppercase;
    background: url(../images/text-bkg3.jpeg);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    animation: scaleUp 2000ms ease-in-out;
    transform: scale(1.1, 1.4); }
  .home-bkg h1 {
    font-size: 4em; }
  .home-bkg h3 {
    font-size: 2.5em;
    margin-bottom: 0.6em; }
  .home-bkg p {
    margin: 1em; }
@keyframes scaleUp {
  0% {
    transform: scale(1.08, 1.38); }
  50% {
    transform: scale(1.15, 1.45); }
  100% {
    transform: scale(1.1, 1.4); } }
.home-places {
  background-color: #b6e44c;
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  padding: 1em 0; }
  .home-places .description {
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative; }
    .home-places .description h3 {
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0.5em; }
    .home-places .description h3::before {
      content: "";
      display: block;
      background-color: rgba(44, 44, 44, 0.08);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%; }
  .home-places figure {
    position: relative; }
  .home-places img {
    width: 100%; }
  .home-places figcaption {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.5em;
    background-color: rgba(44, 44, 44, 0.5); }
  .home-places .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.2em;
    margin: 0.2em; }

body {
  color: white;
  font-family: 'Open Sans', sans-serif; }

button {
  padding: 1em;
  margin: 0 auto;
  border-radius: 0.5em;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 300ms;
  z-index: 999; }
  button:hover {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    padding: 1em 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=style.css.map */
